<nav
  class="navbar bg-dark border-bottom border-body w-100 px-0"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand">To-Do</a>
    <ul class="nav justify-content-end">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="btn btn-outline-danger" href="{% url 'logout'%}" role="button"
          >Logout</a
        >
      </li>
      {% else %}
      <li class="nav-item">
        <a class="btn btn-outline-primary" href="{%url 'login'%}" role="button"
          >Login</a
        >
      </li>
      <li class="nav-item ms-4">
        <a
          class="btn btn-outline-primary"
          href="{%url 'register'%}"
          role="button"
          >Register</a
        >
      </li>
      {%endif%}
    </ul>
  </div>
</nav>
